<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Image Example</title>
</head>
<body>
    <img class="vector" src="/img/vector.png">
    <img class="ellipse1" src="/img/ellipse1.png">
    <img class="ellipse3" src="/img/ellipse3.png">
    <img class="ellipse2" src="/img/ellipse2.png">
</body>
</html>
